/************ Police personnalisée ****************/ 

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway/Raleway-VariableFont_wght.ttf) format("truetype"), 
    url(../polices/Raleway/static/Raleway-Medium.ttf) format("truetype");
}

/********* Styles réccurents sur la page *********/

body {
    font-family: "Raleway", sans-serif;
    color: black;
    margin: 0px;
}

#page_except_footer {
    max-width: 1340px;
    margin: auto;
}

footer, #accomodation_results, aside {
    background-color: #F2F2F2;
} 

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    display: inline-block;
}

i {
    font-size: 1.2em;
}

.fa-star {
    font-size: 0.7em;
    color: #0065FC;
}

.grey_star {
    color: #cccccc;
}

em {
    font-style: normal;
}

.price {
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

h4 {
    font-size: 1em;
}


/******************** Header **********************/ 

header {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 36px;
}

#actions {
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 0.9em;
    margin-right: 21.8px;
}

header a:hover {
    color:  #0065FC;
    border-top:  2px solid #0065FC;
    padding-top: 50px;
}

/* tirets blancs autour des éléments du menu pour obtenir une borture supp plus longue*/
header span {
    color: white;
}

#sign_in, #sign-in :disabled {
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 21.6px;
}

#sign_in:hover {
    cursor: pointer;
}

/************** Section de recherche **************/

h1 {
    font-size: 1.5em;
    margin-top: 20px;
}

#subtitle {
    line-height: 0.6em;
}


#search_bar {
    display: flex;
    align-items: center;
}

#search_button {
    height: 53px;
    width: 133px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;  
    cursor: pointer; 
}

#search_field {
    height: 50px;
    min-width: 200px;
    padding: 0px 10px 0px 10px;
    border-top:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    border-left :none;
    border-right: none;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#search_field:focus {
    outline: none;
}

#locate {
    padding: 14.5px 20px 14.5px 20px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 16px 0px 0px 16px;
}

/* Filtres */

#filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.filter {
    margin-left: 24px;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 25px;
    height: 47px;
    position: relative;
}

.filter_icon_plus {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    left: -4px;
    top: -1.5px;
}

.filter i {
    color: #0065FC;
    position: absolute;
}

.fa-money-bill-wave {
    top: 15px;
    left: 13px;
}
.fa-child {
    top: 15px;
    left: 17px;
}
.fa-heart {
    top: 16px;
    left: 15px;
}
.fa-dog {
    top: 14px;
    left: 15px;
}

.filter_text {
    padding-left: 60px;
    padding-right: 15px;
}

/*filtres : changement apparence au survol */

.filter_link:hover i {
    color: #DEEBFF;
}

.filter_link:hover .filter_icon_plus {
    background-color:#0065FC;
}

.filter_link:hover .filter {
    border-color: #0065FC;
}

.filter_link:hover .filter_text {
    color: #0065FC;
}

/* info nombre de logements dispo */

#info  {
    display: flex;
    align-items: center;
}

#text_info {
    margin-left: 12px;
}

#info_icon_plus {
    height: 23px;
    width: 23px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    position: relative;
}

#icon_info {
    color: #0065FC;
    position: absolute;
    top: 5px;
    left: 8.5px;
    font-size: 0.9em;
}

/********* Section hébergements, global **********/

#accomodations {
    display: flex;
    justify-content: space-between;
    height: 625px;
}

#accomodation_results, aside {
    border-radius: 17px;
    padding-top: 20px;
}

#accomodation_results {
    max-width: 880px;
}

#accomodation_results h2 {
    margin-left: 40px;
}

.accomodation p, .popular p {
    font-size: 0.8em;
    padding-top: 1px;
}

/************* Résultats recherche ***************/ 

#six_first_accomodation_results {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.accomodation {
    width: 235px;
    height: 190px;
    border: 5px solid white;
    border-radius: 17px;
    box-shadow: 1px 2px 5px #cccccc;
    margin-bottom: 30px;
}

.accomodation h4, .accomodation p, .acc_white_background div {
    margin-top: 0px;
    margin-bottom: 0px;
}

#accomodation_cannebiere {
    background-image: url(../images/accomodations/cannebiere.jpg);
    background-size: contain;
    background-position: 0px -1px;
    position: relative;
}

#accomodation_port {
    background-image: url(../images/accomodations/port.jpg);
    background-size: contain;
    background-position: 0px -1px;
    position: relative;
}

#accomodation_mouettes {
    background-image: url(../images/accomodations/mouettes.jpg);
    background-size:contain; 
    background-position: initial;
    position: relative;
}

#accomodation_mer {
    background-image: url(../images/accomodations/mer.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#accomodation_panier {
    background-image: url(../images/accomodations/panier.jpg);
    background-size: contain;
    background-position: top;
    position: relative;
}

#accomodation_amina {
    background-image: url(../images/accomodations/amina.jpg);
    background-size: cover;
    background-position: 0px -95px;
    position: relative;
}

.acc_white_background {
    background-color: white;
    position: absolute;
    top: 134px;
    left: -2px;
    width: 229px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 0px 0px 10px 10px;
}    

#show_more_button {
    padding-top: 20px;
    margin: 0px 0px 0px 40px;
    background-color: #F2F2F2;
    color: black;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

#show_more_button:hover {
    cursor: pointer;
}

/************** les plus populaires ***************/ 

#most_popular_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}

#most_popular_title h3, .fa-chart-line {
    font-size: 1.4em;
}

#three_first_popular {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
}

.popular {
    width: 335px;
    height: 135px;
    border: 5px solid white;
    border-radius: 17px;
    box-shadow: 1px 2px 5px #cccccc;
    margin-bottom: 30px;
}

#pop_soleil {
    background-image: url(../images/accomodations/soleil_matin.jpg);
    position: relative;
    background-size: contain;
    background-position: -37px 1px;
}

#pop_coeur {
    background-image: url(../images/accomodations/coeur_eau.jpg);
    position: relative;
    background-size: contain;
    background-position: -23px -1px;
}

#pop_bleu {
    background-image: url(../images/accomodations/bleu_blanc.jpg);
    position: relative;
    background-size:133px;
    background-position: -1px -30px;
}

.pop_white_background {
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top: 0px;
    left: 127px;
    width: 188px;
    height: 133px;
}

.popular h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.popular p {
    margin-top: 7px;
    margin-bottom: 0px;
}

.pop_white_background div {
    margin-top: 37px;
}

/*************** Section activités ****************/

#entertainment_results {
    display: flex;
    justify-content: space-between;
}

/* colonne à deux activités*/
#entertainment_results div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entertainment {
    width: 300px;
    border-radius: 17px;
    box-shadow: 1px 2px 5px #cccccc;
    position: relative;
}

.entertainment h4 {
    background-color: white;
    padding: 18px 0px 18px 20px;
    width: 280px;
    border-radius: 0px 0px 17px 17px;
    position: absolute;
}

#entertain_port h4, #entertain_calanques h4 {
    top: 370px;
}

#entertain_fort h4 {
    top: 158.5px;
}

#entertain_frioul h4 {
    top: 89px;
}

#entertain_garde h4, #entertain_longchamp h4 {
    top: 119.5px;
}

#entertain_port {
    background-image: url(../images/entertainments/port.jpg);
    background-position: -220px 0px;
    height: 445px;
}

#entertain_fort {
    background-image: url(../images/entertainments/fort_m.jpg);
    background-size: cover;
    background-position: 0px -100px;
    height: 235px;
}

#entertain_frioul {
    background-image: url(../images/entertainments/frioul.jpg);
    background-size: cover;
    background-position: 0px -15px;
    height: 165px;
}

#entertain_calanques {
    background-image: url(../images/entertainments/calanques_m_corrigee.jpg);
    background-size: cover;
    background-position: -190px 0px;
    height: 445px;
}

#entertain_garde {
    background-image: url(../images/entertainments/garde.jpg);
    background-size: cover;
    background-position: 0px 0px;
    height: 195px;
}

#entertain_longchamp {
    background-image: url(../images/entertainments/longchamp.jpg);
    background-size: cover;
    background-position: 0px -20px;
    height: 195px;
}

/******************** Footer *********************/

footer {
    width: 100%;
    display: flex;
}

footer ul {
    padding-left: 0px;
    margin-left: 0px;
}

footer div:first-child {
    margin-left: 83px;
}

footer div:nth-child(2), footer div:nth-child(3) {
    margin-left: 230px;
} 

footer li {
    padding-bottom: 8px;
}



