/* Police personnalisée */ 

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway/Raleway-VariableFont_wght.ttf) format("truetype"), 
    url(../polices/Raleway/static/Raleway-Medium.ttf) format("truetype");
}

/* Éléments principaux de la page */

body {
    font-family: "Raleway", sans-serif;
    color: black;
    max-width: 1340px;
    margin: auto;
}

footer {
    max-width: 1440px;
}

footer, #accomodation_results, aside {
    background-color: #F2F2F2;
} 

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    display: inline-block;
}

i {
    font-size: 1.2em;
}

.fa-star {
    font-size: 0.7em;
    color: #0065FC;
}

em {
    font-style: normal;
}

.price {
    font-weight: bold;
}

h4 {
    font-size: 0.9em;
}


/* Header */ 

header {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 36px;
}

#actions {
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 0.9em;
    margin-right: 21.8px;
}

header a:hover {
    color:  #0065FC;
    border-top:  2px solid #0065FC;
    padding-top: 50px;
}

/* tirets blancs autour des éléments du menu pour obtenir une borture supp plus longue*/
header span {
    color: white;
}

#sign_in, #sign-in :disabled {
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: black;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 21.6px;
}

#sign_in:hover {
    cursor: pointer;
}

/* Éléments de la section search */

h1 {
    font-size: 1.5em;
    margin-top: 20px;
}

#subtitle {
    line-height: 0.6em;
}


#search_bar {
    display: flex;
    align-items: center;
}

#search_button {
    height: 53px;
    width: 133px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 16px 16px 0px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;   
}

#search_field {
    height: 50px;
    min-width: 200px;
    padding: 0px 10px 0px 10px;
    border-top:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    border-left :none;
    border-right: none;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#locate {
    padding: 14.5px 20px 14.5px 20px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 16px 0px 0px 16px;
}

/* Filtres */

#filters {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.filter {
    margin-left: 24px;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 25px;
    height: 47px;
    position: relative;
}

.filter_icon_plus {
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
    left: -4px;
    top: -1px;
}

.filter i {
    color: #0065FC;
    position: absolute;
}

#bill {
    top: 15px;
    left: 13px;
}
#child {
    top: 15px;
    left: 17px;
}
#heart {
    top: 16px;
    left: 15px;
}
#dog {
    top: 14px;
    left: 15px;
}

.filter_text {
    padding-left: 60px;
    padding-right: 15px;
}

/*filtres : changement apparence au survol */

.filter_link:hover i {
    color: #DEEBFF;
}

.filter_link:hover .filter_icon_plus {
    background-color:#0065FC;
}

.filter_link:hover .filter {
    border-color: #0065FC;
}

.filter_link:hover .filter_text {
    color: #0065FC;
}

/* info nombre de logements dispo */

#info  {
    display: flex;
    align-items: center;
}

#text_info {
    margin-left: 12px;
}

#info_icon_plus {
    height: 23px;
    width: 23px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    position: relative;
}

#icon_info {
    color: #0065FC;
    position: absolute;
    top: 5px;
    left: 8.5px;
    font-size: 0.9em;
}

/* Section hébergements */

#accomodations {
    display: flex;
    margin-top: 40px;
}

#accomodation_results, aside {
    border-radius: 17px;
    padding: 20px 40px 20px 40px;
}

/* Résultats recherche */ 

#accomodation_results {
    margin-right: 40px;
}

#six_first_accomodation_results {
    display: flex;
    flex-wrap: wrap;
}

.accomodation {
    width: 235px;
    height: 190px;
    border: 5px solid white;
    border-radius: 17px;
    /* à supprimer si pas utile
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    */
}

.accomodation h4, .accomodation p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.accomodation p {
    font-size: 0.8em;
    padding: 2px 0px 0px 0px;
}

#accomodation_cannebiere {
    background: url(../images/accomodations/cannebiere.jpg) center;
    background-size: contain;
    background-position: top;
    position: relative;
}

#accomodation_port {
    background: url(../images/accomodations/port.jpg) center;
    background-size: contain;
    background-position: initial;
    position: relative;
}

#accomodation_mouettes {
    background: url(../images/accomodations/mouettes.jpg) center;
    background-size:contain; 
    background-position: initial;
    position: relative;
}

#accomodation_mer {
    background: url(../images/accomodations/mer.jpg) center;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

#accomodation_panier {
    background: url(../images/accomodations/panier.jpg) center;
    background-size: contain;
    background-position: top;
    position: relative;
}

#accomodation_amina {
    background: url(../images/accomodations/amina.jpg) center;
    background-size: cover;
    background-position: 0px -95px;
    position: relative;
}

.white_background {
    background-color: white;
    position: absolute;
    top: 134px;
    width: 225px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 0px 0px 10px 10px;
}    

/* les plus populaires */ 

aside {
    /*valeurs non prises en compte*/
    width: 420px;
    height: 625px;
}

