/* Police personnalisée */ 

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway/Raleway-VariableFont_wght.ttf) format("truetype"), 
    url(../polices/Raleway/static/Raleway-Medium.ttf) format("truetype");
}

/********* Styles réccurents sur la page *********/

body {
    font-family: "Raleway", sans-serif;
    color: black;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#container {
    max-width: 1340px;
    margin: auto;
}

footer, #accomodation_results, aside {
    background-color: #F2F2F2;
} 

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

i {
    font-size: 1.2em;
}

.fa-star {
    font-size: 0.7em;
    color: #0065FC;
}

.grey_star {
    color: #cccccc;
}

em {
    font-style: normal;
}

.price {
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

h4 {
    font-size: 1em;
}


/******************** Header **********************/ 

header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 40px;
}

header img {
    margin: auto;
    margin-left: 0px;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 0.9em;
    margin-right: 22px;
}

header a:hover, header a:active {
    color:  #0065FC;
    border-top:  2px solid #0065FC;
    padding-top: 54px;
}

/* tirets blancs autour des éléments du menu pour obtenir une borture supp plus longue*/
.joker1, .joker2 {
    color: white;
}

.joker2 {
    display: none;
}

header button, header button:disabled {
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: #0065FC;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 21.6px;
}

header button:hover {
    cursor: pointer;
}

/************** Section de recherche - home_search **************/

h1 {
    font-size: 1.4em;
    margin-top: 30px;
}

#subtitle {
    line-height: 0.6em;
    padding-bottom: 10px;
}

/* champ de recherche*/

#search_bar {
    display: flex;
    align-items:baseline;
    position: relative;
}

#search_button {
    height: 50px;
    width: 133px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    -moz-border-radius: 0px 16px 16px 0px;
    -webkit-border-radius: 0px 16px 16px 0px;
    border-radius: 0px 16px 16px 0px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;  
    cursor: pointer; 
    margin-left: 0px;
}

.fa-search {
    display: none;
}

#search_field {
    height: 46px;
    width: 203px;
    padding: 0px 10px 0px 17px;
    border-top:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    border-left :none;
    border-right: none;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: bold;
}

#search_field:focus {
    outline: none;
}

.fa-map-marker-alt {
    padding: 12px 18px 15px 18px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    -moz-border-radius: 16px 0px 0px 16px;
    -webkit-border-radius: 16px 0px 0px 16px;
    border-radius: 16px 0px 0px 16px;
}

/* Filtres */

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filters h3 {
    padding-left: 10px;
}

#filters ul {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    margin-left: 24px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    border: 2px solid #cccccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height: 47px;
    position: relative;
}

.filter_icon_circled {
    background-color: #DEEBFF;
    color: #0065FC;
    height: 50px;
    width: 50px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: absolute;
    left: -4px;
    top: -1.5px;
}

.filter i {
    position: absolute;
}

.fa-money-bill-wave {
    top: 15px;
    left: 13px;
}
.fa-child {
    top: 15px;
    left: 17px;
}
.fa-heart {
    top: 16px;
    left: 15px;
}
.fa-dog {
    top: 14px;
    left: 15px;
}

.filter p {
    padding-left: 60px;
    padding-right: 20px;
}

/*filtres : changement apparence au survol */

.filter:hover i {
    color: #DEEBFF;
}

.filter:hover .filter_icon_circled {
    background-color:#0065FC;
}

.filter:hover {
    border-color: #0065FC;
}

.filter:hover p {
    color: #0065FC;
}

/* info nombre de logements dispo */

#info  {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#info p {
    margin-left: 10px;
}

#info div {
    height: 23px;
    width: 23px;
    border: 2px solid #F2F2F2;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: relative;
}

.fa-info {
    color: #0065FC;
    position: absolute;
    top: 4.5px;
    left: 8.5px;
    font-size: 0.9em;
}

/********* Section hébergements globale **********/

#accomodations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 625px; 
    margin-bottom: 60px;
}

#accomodation_results, aside {
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    padding-top: 20px;
    margin-top: 20px;
}

#accomodation_results article p, aside article p {
    font-size: 0.8em;
    padding-top: 1px;
}

#accomodations h2 {
    display: none;
}

/************* Résultats recherche logement ***************/ 

#accomodation_results {
    max-width: 880px;
}

#accomodation_results h3 {
    margin-left: 40px;
    font-size: 1.4em;
}

#accomodation_results_container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#accomodation_results article {
    width: 235px;
    height: 190px;
    border: 5px solid white;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-box-shadow: 1px 2px 5px #cccccc;
    -webkit-box-shadow: 1px 2px 5px #cccccc;
    box-shadow: 1px 2px 5px #cccccc;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.accomodation_content {
    background-color: white;
    position: absolute;
    top: 118px;
    left: -2px;
    width: 231px;
    height: 75px;
    padding-left: 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}  

.accomodation_content p, .accomodation_content div {
    margin-top: 3px;
    margin-bottom: 0px;
}

.accomodation_content h4 {
    margin-top: 7px;
    margin-bottom: 0px;
}

#accomodation_results article img {
    -moz-border-radius: 17px 17px 0px 0px;
    -webkit-border-radius: 17px 17px 0px 0px;
    border-radius: 17px 17px 0px 0px;
    max-width: 100%;
    position: absolute;
}

#accomodation_cannebiere img, #accomodation_port img, #accomodation_mouettes img {
    top: -17px;
}

#accomodation_mer img {
    top: -50px;
}

#accomodation_panier img {
    top: -5px;
}

#accomodation_amina img {
    top: -114px;
}

#accomodation_results button {
    padding-top: 20px;
    margin: 0px 0px 20px 40px;
    background-color: #F2F2F2;
    color: black;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

#accomodation_results button:hover {
    cursor: pointer;
}

/************** les plus populaires ***************/ 

#aside_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}

#aside_title h3, .fa-chart-line {
    font-size: 1.4em;
}

#popular_accomodation_container {
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
}

aside article {
    width: 335px;
    height: 135px;
    border: 5px solid white;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-box-shadow: 1px 2px 5px #cccccc;
    -webkit-box-shadow: 1px 2px 5px #cccccc;
    box-shadow: 1px 2px 5px #cccccc;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.popular_content {
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top: -1px;
    left: 128px;
    width: 188px;
    height: 136px;
}

aside article h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

aside article p {
    margin-top: 7px;
    margin-bottom: 0px;
}

.popular_content div {
    margin-top: 35px;
}

aside article img {
    position: absolute;
    -moz-border-radius: 17px 0px 0px 17px;
    -webkit-border-radius: 17px 0px 0px 17px;
    border-radius: 17px 0px 0px 17px;
}

#pop_soleil img {
    max-height: 100%;
    left: -35px;
}

#pop_coeur img {
    max-height: 100%;
    left: -22px;
}

#pop_bleu img {
    width: 40%;
    top: -40px;
    left: -1px;
}

/*************** Section activités ****************/

#entertainments {
    margin-bottom: 60px;
}

#entertainments h2 {
    margin-bottom: 0px;
}
#entertainments_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* colonne à deux activités*/
#entertainments_container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#entertainments article {
    width: 300px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-box-shadow: 1px 2px 5px #cccccc;
    -webkit-box-shadow: 1px 2px 5px #cccccc;
    box-shadow: 1px 2px 5px #cccccc;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

#entertainments article h4 {
    background-color: white;
    padding: 18px 0px 18px 20px;
    width: 280px;
    -moz-border-radius: 0px 0px 17px 17px;
    -webkit-border-radius: 0px 0px 17px 17px;
    border-radius: 0px 0px 17px 17px;
    position: absolute;
}

/* position des h4 */

#entertain_port h4, #entertain_calanques h4 {
    top: 370px;
}

#entertain_fort h4 {
    top: 160px;
}

#entertain_frioul h4 {
    top: 91px;
}

#entertain_garde h4, #entertain_longchamp h4 {
    top: 121px;
}

/* taille et position des images */

#entertainments article img {
    position: absolute;
}

#entertain_port {
    height: 445px;
}

#entertain_port img {
    max-height: 100%;
    left: -190px;
}

#entertain_fort {
    height: 235px;
}

#entertain_fort img {
    max-width: 100%;
    top: -100px;
}

#entertain_frioul {
    height: 165px;
}

#entertain_frioul img {
    max-width: 100%;
    top: -15px;
}

#entertain_calanques {
    height: 445px;
}

#entertain_calanques img {
    max-height: 100%;
    left: -190px;
}

#entertain_garde {
    height: 195px;
}

#entertain_garde img{
    max-width: 100%;
}

#entertain_longchamp {
    height: 195px;
}

#entertain_longchamp img {
    max-width: 100%;
    top: -20px;
}
/******************** Footer *********************/

footer {
    width: 100%;
    padding: 30px 0px 30px 0px;
}

#footer_container {
    max-width: 1350px;
    padding-left: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#footer_container section {
    width: 430px;
}

footer ul {
    padding-left: 0px;
    margin-left: 0px;
}

footer li {
    padding-bottom: 8px;
}

/***************  version desktop réduit ****************/
/* lorsque largeur < logements + populaires */
@media all and (max-width: 1350px) {
    body {
        padding: 0px;
        width: 100%;
    }

    header p, h1, #subtitle, #filters, #info, #entertainments h2, #search_bar, #aside_title, #popular_accomodation_container, #entertainments_container {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* header */

    header {
        margin-top: 20px;
    }

    header img {
        margin-left: 20px;
    }

    /* filtres */

    #filters h3 {
        padding-left: 10px;
        margin: 30px 20px 0px 0px;
    }

    #filters ul {
        padding-left: 0px;
    }

    .filter {
        margin: 13px 13px 0px 0px;
    }

    .filter p {
        padding-right: 10px;
        padding-left: 50px;
    }

    #info {
        margin-top: 0px;
    }

   /* hébergements */

   #accomodations {
        flex-direction: column-reverse;
        /*width: 100%;
        margin: auto;*/
    }

    #accomodations {
        margin-bottom: 20px;
    }

    #accomodation_results, aside {
        border-radius: 0px;
    }

    /* hébergements populaires */ 

    #aside_title {
        width: 265px;
    }

    #popular_accomodation_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    aside article {
        width: 295px;
        margin-right: 20px;
        margin-bottom: 22px;
    }    

    /* hébergements résultats recherche */

    #accomodation_results, #accomodation_results button {
        background-color: white;
    }

    #accomodation_results {
        justify-content: flex-start;
    }

    #accomodation_results article {
        margin-bottom: 13px;
    }

    /* activités */

    #entertainments_container {
        justify-content: flex-start;
    }

    #entertainments article {
        margin-right: 20px;
    }

    #entertain_fort, #entertain_frioul, #entertain_garde, #entertain_longchamp {
        height: 212.5px;
    }

    #entertain_fort h4 {
        top: 140px;
    }
    
    #entertain_frioul h4 {
        top: 137px;
    }
    
    #entertain_garde h4, #entertain_longchamp h4 {
        top: 136px;
    }

    /* footer */

    footer {
        padding: 20px 0px 20px 0px;
    }

    #footer_container {
        max-width: 1023px;
        padding-left: 20px;
        flex-wrap: nowrap;
        font-size: 0.9em;
    }
}

/***************  version tablette paysage ***************/
/* iPad paysage : 1024px */
@media all and (max-width: 1024px) {
    /* hébergements */
   
}

/*****  version mobile paysage et tablette portrait *****/
/* iphone X paysage : 812px */
@media all and (max-width: 812px) {
    
}

/* modification du header lorsque la largeur n'est pas suffisante pour le nav et le bouton*/
@media all and (max-width: 580px) {
    header {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    header nav {
        order: 3;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
    }

    nav ul {
        justify-content: center;
        margin-left: 0px;
        padding-left: 0px;
    }

    nav ul li {
        margin-right: 0px;
    }

    .joker2 {
        display: unset;
    }

    header a:hover, header a:active {
        border-top: none;
        padding-top: 0px;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 16px;
    }

}

/**************  version mobile portrait ****************/

@media all and (max-width: 480px) {
    body {
        padding: 0px;
        width: 100%;
    }

    header img, header p, h1, #subtitle, #filters, #info, #entertainments h2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* header */

    /* home_search */

    #search_field {
        width: 220px;
    }

    #search_button span {
        display: none;
    }

    .fa-search {
        display: unset;
    }

    #search_button {
        width: 50px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        border-radius: 16px 16px;
        border: 2px solid #0065FC;
        background-color: #0065FC;
        color: white;
        position: absolute;
        left: 280px;
    }

    #search_field {
        padding: 0px 10px 0px 17px;
    }

    /* filtres */

    #filters {
        align-items:flex-end;
    }
    
    #filters h3 {
        margin : 30px 0px 5px 0px; 
    }
    
    #filters ul {
        padding-left: 0px;
        margin-top: 0px;
    }

    .filter {
        margin: 13px 13px 0px 0px;
    }

    .filter p {
        padding-right: 15px;
        padding-left: 55px;
    }

    #info {
        margin-top: 0px;
        align-items:flex-start;
    }

    #info div {
        flex-shrink: 0;
        margin-top: 15px;
    }

    /* hébergements */

    #accomodations {
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
    }

    #accomodation_results, aside {
        border-radius: 0px;
    }

    #aside_title {
        margin: 0px;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    #popular_accomodation_container {
        margin: 0px;
        align-items: center;
        padding-bottom: 30px;
    }

    aside article {
        margin-bottom: 10px;
    }

    #accomodation_results, #accomodation_results button {
        background-color: white;
    }

    #accomodation_results h3 {
        margin-left: 20px;
        margin-top: 0px;
    }

    #accomodation_results article {
        width: 335px;
        height: 190px;
    }

    .accomodation_content {
        width: 330px;
        top: 116px;
        left: -1px;
    }

    #accomodation_cannebiere img, #accomodation_port img, #accomodation_mouettes img {
        top: -54px;
    }
    
    #accomodation_mer img {
        top: -98px;
    }
    
    #accomodation_panier img {
        top: -35px;
    }
    
    #accomodation_amina img {
        top: -195px;
    }

    #accomodation_results button {
        margin: 0px 0px 20px 20px;
        padding-top: 0px;
    }

    /* activités */

    #entertainments_container {
        flex-direction: column;
        align-items: center;
    }

    #entertainments article {
        width: 345px;
        height: 190px;
    }

    #entertainments article h4 {
        width: 340px;
        top: 115px;
    }

    #entertain_port img {
        width: 100%;
        left: 0px;
    }

    #entertain_fort img {
        max-width: 100%;
        top: -165px;
    }
    
    #entertain_calanques img {
        width: 100%;
        left: 0px;
    }

    #entertain_garde img {
        max-width: 100%;
        top: -15px;
    }

    #entertain_longchamp img {
        max-width: 100%;
        top: -35px;
    }
}








